<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>VetJournal Lite</title>
        <link href="style.css" rel="stylesheet" type="text/css" title="Stylesheet">
        <link rel="icon" type="image/png" href="static/favicon.png">
        <!-- <script src="{{ url_for('static', filename='jquery.js')}}"></script> -->
    </head>

    
    <body>
        <header>
            <div id=logoContainer>
            <!-- <img src="static/logo.svg" id=logo> -->
            <h1><a class="ghost" href="/home">VetJournal Lite</a></h1>
            </div>
            <p><i>Rask og effektiv journalføring på hvilken som helst enhet</i></p>
            <!-- <nav> -->
            <!-- </nav> -->
        </header>

        <form id="editJournalForm" class="newEntity" action="create_journal" method="POST" enctype="multipart/form-data">
            <h2>Opprett journal</h2>

            <label for="datoforbesøk">Dato for besøk</label>
            <input type="date" id="datoforbesøk" name="datoforbesøk" min="1950-01-01">

            <label for="tittel">Tittel</label>
            <input type=text class=longInput id="tittel" name="tittel">

            <label for="anamnese">Anamnese</label>
            <textarea id="anamnese" name="anamnese"></textarea>

            <label for="undersøkelse">Undersøkelse</label>
            <textarea id="undersøkelse" name="undersøkelse"></textarea>

            <label for="diagnose">Diagnose</label>
            <input type=text class=longInput id="diagnose" name="diagnose" placeholder="Søk i sykdomskodelista" list="illnessList">
            <datalist id="illnessList">
                <option value="001 Ingen sjukdom påvist">
                <option value="001 Ingen sjukdom påvist ">
                <option value="011 Kolistinresistente Enterobacteriacae">
                <option value="012 Dyreassosiert MRSA (LA-MRSA) hos andre dyrearter enn storfe, småfe og svin (kode 112)">
                <option value="013 ESBL/AmpC produserende Enterobacteriacae ">
                <option value="014 Fluorokinolonresistente Gram-negative bakterier ">
                <option value="015 Karbapenemaseproduserende / Karbapenemresistente Enterobacteriacae">
                <option value="016 Linezolidresistente enterokokker ">
                <option value="017 Methicillinresistent S. aureus (MRSA)">
                <option value="018 Methicillinresistent S. pseudintermedius (MRSP)">
                <option value="019 Vankomycinresistente enterokokker (VRE)">
                <option value="040 Embryo innlegg">
                <option value="041 Embryo innlegg import">
                <option value="042 Embryo innlegg ferskt">
                <option value="043 Embryo innlegg">
                <option value="044 Embryo innlegg ferskt">
                <option value="045 Superovulasjon">
                <option value="046 Embryo skylling (MOET)">
                <option value="047 Ovum pick up (OPU)">
                <option value="050 Haseabscess/flegmone">
                <option value="051 Limax">
                <option value="052 Kronisk dermatitt">
                <option value="053 Tynn såle">
                <option value="100 Chlamydiainfeksjoner hos fjørfe">
                <option value="102 Leptospirose">
                <option value="104 Paratuberkulose">
                <option value="105 Ringorm hos storfe forårsaket av Trichophyton verrucosum">
                <option value="106 Salmonellainfeksjoner">
                <option value="108 Trikinose">
                <option value="109 Tuberkulose forårsaket av Mycobacterium bovis eller M. tuberculosis">
                <option value="110 Ekinokokkose/Hydatidose">
                <option value="112 Dyreassosiert MRSA (LA-MRSA) hos storfe, småfe og svin">
                <option value="120 Virusencefalomyelitt - Eastern equine enchepalitis, Western equine encephalitis, Venezuelan equine encephalitis (EEE, WEE, VEE) ">
                <option value="122 Kverke">
                <option value="124 Infeksiøs anemi">
                <option value="130 Bovin herpevirus-1-infeksjon IBR/IPV">
                <option value="131 Bovin virusdiaré/Mucosal disease (BVD/MD)">
                <option value="134 Smittsom leukose hos storfe (EBL)">
                <option value="136 Bovin spongiform encefalopati (BSE)">
                <option value="137 Infeksjon med Campylobacter fetus subsp. venerealis">
                <option value="138 Bovin trichomoniase">
                <option value="139 Spongiform enceph. unntatt BSE og skrapesjuke">
                <option value="140 Border disease (BD)">
                <option value="141 Mædi/Visna">
                <option value="142 Skrapesjuke">
                <option value="143 Smittsom klauvsjuke - ondartet fotråte hos sau">
                <option value="144 Enzootisk abort hos småfe">
                <option value="145 Lungeadenomatose">
                <option value="146 Infeksiøs agalakti">
                <option value="147 Smittsom pleuropneumoni hos geit - CCPP">
                <option value="150 Influensa">
                <option value="151 Nekrotiserende enteritt, gris - infeksjon med Clostridium perfringens type C">
                <option value="154 Porcine respiratory and reproductive syndrom (PRRS)">
                <option value="155 Infeksjon med porcine respiratory coronavirus (PRRV)">
                <option value="157 Porcine epidemic diarrhoea (PED)">
                <option value="160 Hønsekolera">
                <option value="161 Infeksiøs bronkitt (IB) hos høns">
                <option value="162 Tuberkulose forårsaket av Mycobacterium avium subsp. avium">
                <option value="163 Infeksjoner forårsaket av Mycoplasma gallisepticum og M. meleagridis.">
                <option value="164 Paramyxovirusinfeksjon hos duer unntatt Newcastle disease (ND)">
                <option value="165 Aviær rhinotrekeitt (ART)">
                <option value="166 Virusenteritt hos and">
                <option value="167 Virushepatitt hos and">
                <option value="168 Egg dropp syndrom (EDS) hos fjørfe">
                <option value="170 Apekopper - Monkey pox ">
                <option value="171 European brown hare syndrome ">
                <option value="172 Leishmaniose ">
                <option value="173 Myxomatose ">
                <option value="174 Sarcoptesskabb hos rev i fangenskap ">
                <option value="175 Valpesjuke - distemper ">
                <option value="176 Viral hemorrhagisk sjukdom hos kanin ">
                <option value="177 Virusenteritt hos mink ">
                <option value="178 Ringorm hos pelsdyr">
                <option value="180 Liten kubebille (Aethina tumida) - Small Hive Beetle (Aethina tumida) ">
                <option value="181 Lukket yngelråte - American foulbrood ">
                <option value="182 Steinyngel - Stonebrood ">
                <option value="183 Tropilaelaps-midd (Tropilaelaps ssp.) - Tropilaelaps mite (Tropilaelaps ssp.) ">
                <option value="184 Åpen yngelråte - European foulbrood ">
                <option value="185 Nosemasjuke hos bier - Nosemosis">
                <option value="186 Varroainfeksjon hos bier - Varroosis">
                <option value="187 Trakémiddinfeksjon hos bier - Acarapiosis ">
                <option value="200 Agalactiae - MMA">
                <option value="201 Artritt-encefalitt hos geit (CAE)">
                <option value="202 Cysticerose">
                <option value="203 Dermatophilose">
                <option value="204 Aviær encefalomyelitt (AE)">
                <option value="205 ">
                <option value="206 Godartet smittsom grise- lammelse - virusencefalomyelitter - unntatt Teschen disease">
                <option value="207 Gumboro disease - Infectious bursal disease (IBD)">
                <option value="208 Botulisme">
                <option value="209 Smittsom equin metritt (CEM)">
                <option value="210 Clostridieinfeksjoner - unntatt 151 - Nekrotiserende enteritt hos gris.">
                <option value="211 Listeriose">
                <option value="212 Louping-ill">
                <option value="213 Lymfoid leukose hos høns">
                <option value="214 Munnskurv hos småfe, rein og moskus">
                <option value="215 Ondartet katarrfeber">
                <option value="216 Cysticerkose hos storfe">
                <option value="217 Parvovirusinfeksjon unntatt virusenteritt hos mink.">
                <option value="218 Pasteurellose">
                <option value="219 Ringorm - unntatt 105">
                <option value="220 Rødsjuke">
                <option value="221 Sjodogg">
                <option value="222 Transportsjuke hos gris - Glässer">
                <option value="223 Circovirusinfeksjon hos svin (PCV2)">
                <option value="224 Smittsom hønselammelse - Marek's disease">
                <option value="225 Smittsom øyebetennelse hos småfe - unntatt 352 - Øyebetennelse">
                <option value="226 Svinedysenteri">
                <option value="227 Tarmadenomatose hos gris">
                <option value="228 Toksoplasmoe">
                <option value="229 Aviær tuberkulose hos pattedyr">
                <option value="230 Tularemi">
                <option value="231 Virusenteritt hos hest - Equine viral artheritis (EVA)">
                <option value="232 Ødemsjuke">
                <option value="233 Smittsom nysesjuke - atrofisk rhinitt">
                <option value="234 Byllesjuke hos småfe forårsaket av Actinobacillus ligniersii eller Corynebacterium pseudotuberculosis">
                <option value="235 Chlamydieinfeksjoner unntatt de som er nevnt under B-sjukdommer">
                <option value="236 Godartet besjelersjuke - Equine coital exanthema.">
                <option value="237 Lever- og hjernebetennelse hos rev og hund - Fox encephalitis - HCC">
                <option value="238 Mykoplasmainfeksjoner hos fjørfe - unntatt Mycoplasma gallisepticum eller Mycoplasma meleagridis">
                <option value="239 Piroplasmose/babesiose">
                <option value="240 Q-feber">
                <option value="241 Aviær infeksiøs anemi - blåvingesjuke">
                <option value="242 Kopper og koppeliknende sjukdommer - unntatt saue-/geitekopper">
                <option value="243 Miltbrannsemfysem">
                <option value="244 Parafilariose">
                <option value="245 Smittsom diaré (f.eks. Coronavirus)">
                <option value="246 Smittsomme luftveisinfeksjoner (f.eks. BRSV eller smittsom grisehoste)">
                <option value="247 Rhinopneumonitt/virusabort hos hest">
                <option value="248 Hesteinfluensa">
                <option value="249 Andre infeksjonssjukdommer">
                <option value="250 Hjerte-/karsjukdommer">
                <option value="251 Luftveissjukdommer - uspesifikke">
                <option value="252 Lungeorm">
                <option value="259 Andre">
                <option value="260 Indigestioner - unntatt 261 - Kolikk, 268 - Trommesjuke og 385 Ketose">
                <option value="261 Kolikk/leieforandring- løpedreining">
                <option value="262 Kvast/fremmedlegeme">
                <option value="263 Mage-/tarmbetennelse, alder <=7 dager">
                <option value="264 Mage-/tarmbetennelse, alder >7 dager i dieperioden">
                <option value="265 Mage-tarmbetennelse - unntatt 263 og 264">
                <option value="266 Sjukdommer forårsaket av flercellede parasitter - unntatt 277 Leverikter">
                <option value="267 Tannsjukdommer">
                <option value="268 Trommesjuke hos drøvtyggere">
                <option value="269 Nydannelser">
                <option value="270 Leversjukdommer - unntatt 277 Leverikter">
                <option value="271 Pankreassjukdom">
                <option value="276 Sjukdommer forårsaket av encellede parasitter (coccidier, cryptosporidier og lignende)">
                <option value="277 Leverikter">
                <option value="279 Andre">
                <option value="280 Avhorning etter skade">
                <option value="281 Forfangenhet - Akutt / subakutt">
                <option value="282 Klauvsjukdom - andre enn 281 - Forfangenhet, 143 Fotråte og  050-053 og 369-378">
                <option value="283 Lus">
                <option value="284 Nydannelser">
                <option value="285 Skabb">
                <option value="286 Sår, kontusjoner forårsaket av innredninger unntatt 306 – Speneskader og 295 Bogsår">
                <option value="287 Sår, kontusjoner - unntatt 286 og 306 - Speneskader">
                <option value="288 Uspesifikke hudsjukdommer - unntatt 351 - Ørebetennelser">
                <option value="289 Hormonelle hudsjukdommer">
                <option value="290 Allergiske hudsjukdommer">
                <option value="291 Infeksiøse hudsjukdommer">
                <option value="292 Alveld">
                <option value="293 Fluelarveangrep (Myiasis?)">
                <option value="294 Navlebetennelse">
                <option value="295 Bogsår">
                <option value="297 Utvortes parasitter - unntatt 283 lus og 285 skabb. Opptatt pga. kode 797">
                <option value="298 Parakeratose (sinkmangel)">
                <option value="299 Andre">
                <option value="300 Agalakti (mjølkemangel)">
                <option value="301 Agalakti (mangelfull nedgivning)">
                <option value="302 Ekstraspener, fjerning">
                <option value="303 Mastitt, klinisk, alvorlig og moderat (tidl. akutt) Hos gris brukes fortsatt nomenklaturen: Mastitt, klinisk akutt">
                <option value="304 Mastitt, klinisk, mild (tidl. kronisk) Hos gris brukes fortsatt nomenklaturen: Mastitt, klinisk kronisk">
                <option value="305 Mastitt, subklinisk ">
                <option value="306 Speneskader">
                <option value="307 Nydannelser">
                <option value="308 Jurødem">
                <option value="309 Sår mellom jur og lår">
                <option value="310 Behandling ved avsining">
                <option value="311 Mastitt på sommerbeite (sau)">
                <option value="312 Jurfestesår ">
                <option value="319 Andre">
                <option value="320 Børframfall">
                <option value="321 Børslyng">
                <option value="322 Forlenget drektighet, fødselsinduksjon">
                <option value="323 Fødselsvansker">
                <option value="324 Misdannelser">
                <option value="325 Skjedeframfall">
                <option value="326 Tilbakeholdt etterbyrd">
                <option value="327 Nydannelser">
                <option value="328 Skjederuptur">
                <option value="329 Andre">
                <option value="330 Abort (- 344 Indusert abort)">
                <option value="331 Anøstrus ">
                <option value="332 Brunstsynkronisering">
                <option value="333 Bør-, skjede- og egglederbetennelse">
                <option value="334 Eggstokkcyster">
                <option value="335 Kastrering">
                <option value="336 Urinveisbetennelse">
                <option value="337 Nydannelser">
                <option value="338 Nyresjukdom">
                <option value="339 Brokk, lyskebrokk">
                <option value="340 Stille brunst ">
                <option value="341 Symptomløs omløping ">
                <option value="342 Sterilisering">
                <option value="343 Kastrering ved vaksinasjon">
                <option value="344 Indusert abort">
                <option value="347 Kryptorkisme">
                <option value="348 Hermafroditisme">
                <option value="349 Andre">
                <option value="350 Cerebrocortikal nekrose - CCN hjernebarksår">
                <option value="351 Ørebetennelse">
                <option value="352 Øyebetennelse, unntatt 225 (smittsom øyebetennelse) og 356 (entropion) ">
                <option value="353 Nydannelser">
                <option value="354 Meningitt/encephalitt">
                <option value="355 Pareser">
                <option value="356 Entropion">
                <option value="359 Andre">
                <option value="360 Bånd-, sene- eller seneskjede-sjukdommer">
                <option value="361 Frakturer">
                <option value="362 Leddsjukdommer. alder < 1 mnd">
                <option value="363 Leddsjukdommer, alder 1-6mnd">
                <option value="364 Leddsjukdommer, alder > 6 mnd">
                <option value="365 Muskeldegenerasjoner">
                <option value="366 Bekkenskade med bevegelsesproblemer">
                <option value="367 Nydannelser">
                <option value="368 Brokk, buk, navle, diafragma">
                <option value="369 Digital dermatitt">
                <option value="370 Halthet">
                <option value="371 Forfangenhet - Kronisk">
                <option value="372 Korketrekkerklauv">
                <option value="373 Hornforråtnelse">
                <option value="374 Mild hudbetennelse Interdigital dermatitt)">
                <option value="375 Klauvspalteflegmone">
                <option value="376 Såleknusning">
                <option value="377 Løsning / byll i den hvite linjen">
                <option value="378 Blødning såle / hvite linjen">
                <option value="379 Andre">
                <option value="380 Abscesser/flegmoner">
                <option value="381 Adferdsavvik ">
                <option value="382 Forgiftninger">
                <option value="383 Halebiting/flankesuging / vulvabiting">
                <option value="384 Hypomagnesemi/Graskrampe">
                <option value="385 Ketose">
                <option value="386 Mjølkefeber/eklampsi">
                <option value="387 Lammelser utenfor fødselsperioden">
                <option value="388 Vitamin- eller mineralmangel - unntatt 350- CCN, 384 og 386 – 387 ">
                <option value="389 Legemiddelbivirkninger">
                <option value="399 Andre">
                <option value="401 Hemorragisk enteritt hos kalkun (HEV)">
                <option value="402 Inklusjonslegemehepatitt hos høns (IBH)">
                <option value="403 Virusartritt - Tenosynovitt (REO)">
                <option value="407 Colibacillose">
                <option value="408 Enterococcus hirae-infeksjon">
                <option value="409 Nekrotiserende enteritt (NE)">
                <option value="410 Spiroketinfeksjon ">
                <option value="411 Stafylokokkinfeksjon">
                <option value="416 Koksidiose ">
                <option value="417 Blindtarmskoksidiose">
                <option value="418 Rød hønsemidd">
                <option value="423 Aspergillose">
                <option value="427 Aortabrist hos kalkun">
                <option value="428 Hjerteklaff- og/eller hjertesekkbetennelse">
                <option value="429 Hjertedilatasjon">
                <option value="434 Betennelse og/eller nekrose i beinmarg">
                <option value="435 Betennelse og/eller nekrose i lymfoide organ">
                <option value="436 Svinn - atrofi av lymfoide organ">
                <option value="437 Nydannelser">
                <option value="440 Andre">
                <option value="442 Kråsbetennelse">
                <option value="443 Enteritt (÷ 001, 010, 017 og 018)">
                <option value="446 Fettlever og/eller leverbrist">
                <option value="448 Fjørløshet - Moderat">
                <option value="449 Fjørløshet - Uttalt">
                <option value="450 Hakking (offer)">
                <option value="451 Tåhakking">
                <option value="452 Fotbyll - prododermatitt">
                <option value="453 Tråputesvidninger (Grad 2 el. totalscore >80)">
                <option value="457 Urinstein">
                <option value="459 Tibial dyschondroplasi (TD)">
                <option value="460 Lårhodenekrose">
                <option value="461 Leddbetennelse">
                <option value="462 Seneruptur">
                <option value="463 Dyp pektoral myopati">
                <option value="464 Rakitt">
                <option value="465 Hasevridning (tibiotarsus) - VVD">
                <option value="466 Osteoporose - beinskjørhet hos høns">
                <option value="467 Osteomalaci - D3, Ca og/el P-mangel">
                <option value="468 Beinproblemer, uspesifikke">
                <option value="469 Beinlammelser">
                <option value="472 Forgiftninger">
                <option value="473 Bukvattersott - Ascites">
                <option value="474 Sudden death syndrome (SDS)">
                <option value="475 Sepsis - bakteriemi, blodforgiftning">
                <option value="476 Peritonitt - kroppshulehinnebetennelse">
                <option value="477 Navle - plommesekkbetennelse">
                <option value="478 Hysteri">
                <option value="479 Kannibalisme (offer, skadet til døde)">
                <option value="480 Kvelning som følge av klumping">
                <option value="481 Kvelning som følge av ventilasjonssvikt">
                <option value="482 Misvekst - knurv">
                <option value="483 Dehydrering - uttørking">
                <option value="484 Fôrfeil/mangelsykdom">
                <option value="485 Urinsyregift - uratutfelling">
                <option value="486 Eggdropp">
                <option value="500 Afrikansk hestepest - African horse sickness - Pestis equorum ">
                <option value="501 Afrikansk svinepest - African swine fever - Pestis suum africana ">
                <option value="502 Aviær influensa">
                <option value="503 Blåtunge (Bluetongue) - Febris catarrhalis ovium ">
                <option value="504 Brucellose">
                <option value="505 Ebola- og Marburg-virus">
                <option value="506 Epizootic haemorrhagic disease of deer (EDS)">
                <option value="508 Infeksiøs laryngotrakeitt (ILT) - Infectious laryngotracheitis ">
                <option value="509 Klassisk svinepest - Hog cholera/Classical swine fever - Pestis suum ">
                <option value="510 Kvegpest - Rinderpest - Pestis bovum ">
                <option value="511 Lumpy skin disease">
                <option value="512 Miltbrann - Anthrax">
                <option value="513 Munn- og klauvsjuke - Foot and mouth disease - Apthae epizooticae ">
                <option value="514 Newcastle disease - Pseudopestis avium ">
                <option value="515 Ondartet besjelersjuke - Dourine - Exanthema coitale paralyticum ">
                <option value="516 Ondartet lungesjuke hos storfe - Contagious bovine pleuro-pneumonia - Pleuropneumonia contagiosa bovis ">
                <option value="517 Ondartet smittsom griselammelse - Porcine enterovirus encephalomyelitis ">
                <option value="518 Peste des petits ruminants">
                <option value="519 Pseudorabies - Aujeszky's disease - Morbus aujeszky ">
                <option value="520 Rabies - Lyssa">
                <option value="521 Rift Valley fever">
                <option value="523 Saueskabb - Sheep mange - Scabies psoroptica ovium ">
                <option value="524 Smittsom gastroenteritt - Transmissible gastroenteritis (TGE) - Gastroenteritis contagiosa ">
                <option value="525 Smittsomt blæreutslett hos gris - Swine vesicular disease (SVD) - Morbus vesicularis suum ">
                <option value="526 Snive - Glanders - Malleus">
                <option value="527 Vesikulær stomatitt - Vesicular stomatitis - Stomatitis vesicularis specifica ">
                <option value="528 Saue- og geitekopper - Sheep and goat pox ">
            </datalist>


            <label for="behandling">Behandling</label>
            <textarea id="behandling" name="behandling"></textarea>

            <label for="medisinering">Medisinering</label>
            <textarea id="medisinering" name="medisinering"></textarea>

            <label for="bilder">Last opp bilder:</label>
            <input class="" type="file" name="bilder" id="bilder" accept="image/*" multiple>

            <label for="fakturert">Fakturert</label>
            <input class="" type="checkbox" name="fakturert" value="True">

            <label for="registered">Registrert i DHP</label>
            <input class="" type="checkbox" name="registered" value="True">

            <input name="submit" type="submit" value="Lagre"/>
        </form>

        <footer>
            Copyright: &copy;2022 Erik Johannes Husom. All rights reserved.
            <!-- <script type="text/javascript" src="vetjournal.js"></script> -->
        </footer>
    </body>
    <script>
        document.getElementById('datoforbesøk').valueAsDate = new Date();
    </script>
</html>
