/* File:        style.css
 * Author:      Erik Johannes Husom
 */

:root {
    --main-font-color: rgb(57, 56, 56);
    --secondary-font-color: #f0ffff;
    /* --accent-color: #4682b4; */
    --accent-color: #003C65;
    --accent-font-color: #fff;
    --active-color: #57bab0;
    --active-font-color: #ffffff;
    --positive-color: #3cb371;
    --negative-color: #f08080;
    --border-radius: 8px;
    --box-shadow: 3px 3px 15px 3px #666666;
    --box-shadow-small: 3px 3px 15px 0px #666666;
}

/*Body{{{*/
body {
    font-family: Helvetica;
    color: var(--main-font-color);
    padding: 0;
    margin: 0;
}

header {
    background-color: var(--accent-color);
    padding: 1em;
    color: white;
}

header a.ghost:link, a.ghost:visited, a.ghost:hover {
    /* color: var(--main-font-color); */
    text-decoration: none;
    color: white;
}

h1 {
    display: inline;
    vertical-align: 20px;
    padding-left: 10px;
}

h1, h2, h3, h4, h5 {
    padding-left: 20px;
}

h5 {
    font-size: 110%;
}

#logoContainer {
    padding-top: 20px;
    vertical-align: top;
}

#logo {
    display: inline;
    /* width: 80px; */
    width: 100%;
    /* filter: invert(); */
}

nav {
    padding-left: 10px;
}

nav a, nav a:visited {
    display: inline-block;
    background-color: var(--accent-color);
    color: var(--secondary-font-color);
    padding: 15px;
    margin-top: 10px;
    margin-right: 15px;
    margin-bottom: 10px;
    text-decoration: none;
    border-radius: var(--border-radius);
}

nav a:hover {
    background-color: var(--secondary-font-color);
    color: var(--accent-color);
}

nav a.activePage {
    background-color: var(--active-color);
    color: var(--active-font-color);
}

/* a, a:visited { */
/*     color: var(--main-font-color); */
/* } */


button a, button a:visited {
    text-decoration: none;
    color: var(--accent-font-color);
}

label, input, select, textarea {
    display: block;
    margin-left: 20px;
}

input, select, textarea {
    margin-bottom: 25px;
}

form.newEntity {
    margin: 30px 50px;
    padding: 10px; 
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}

button, input[type="submit"] {
    margin: 8px 20px;
    padding: 7px;
    /* box-shadow: var(--box-shadow-small); */
    border-radius: var(--border-radius);
    border: none;
    background-color: var(--accent-color);
    color: var(--accent-font-color);
    cursor: pointer;
    min-width: 60px;
}

button:hover, input:hover {
    background-color: var(--secondary-font-color);
    color: var(--accent-color);
}

button.toggle {
    margin-left: 15px;
}

button.newEntityButton {
    /* margin: 20px; */
}

button.thin {
    margin: 0px;
    padding: 4px;
    font-size: 70%;
}

.box {
    /* background-color: #ffffff; */
    padding-top: 10px;
    margin: 30px 10px 20px 10px;
    border-radius: var(--border-radius);
    /* h-offset v-offset blur spread color */ 
    box-shadow: var(--box-shadow);
}

.createForm {
    padding: 0 0 20px 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background-color: var(--accent-color);
    color: var(--accent-font-color);
    font-weight: bold;
    text-align: left;
}

th.timestampCol {
    width: 10em;
}

th, td {
    padding: 8px 8px 8px 15px;
}

td {
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.hidden {
    display: none;
}

tr:nth-child(even) {
    background-color: #edeeed;
}

footer {
    margin-top: 2em;
    text-align: center;
    font-size: 80%;
    padding: 0.5rem;
} 

.popup {
    display: none;
}

textarea {
    display: inline;
    width: 40%;
    height: 10em;
}

.journalBox {
    padding: 1em;
}

details.journal {
    background-color: #eee;
    padding: 0.6em;
    margin: 1.0em;
    border: solid 1px #666666;
    border-radius: var(--border-radius);
}

.journalSubentry {
    background-color: #fff;
    /* padding: 0.5em 0.6em; */
    margin-left: 20px;
    margin-bottom: 50px;
    width: 40%;
    /* border: solid 1px #666666; */
    /* border-radius: var(--border-radius); */
}

#journal h5 {
    margin-bottom: 5px;
}

.positiveHighlight {
    color: var(--positive-color);
}

.negativeHighlight {
    color: var(--negative-color);
}

p {
    padding-left: 1.2em;
}

.journalCheckbox {
    display: inline;
}

input.longInput {
    width: 40%;
}

span.summary {
    margin-left: 1.0em;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 95%;
    width: 13em;
}

/* override styles when printing */
@media print {
    nav {
        display: none;
    }
    button, button.journallabel, button.summaryShort, button.editButton {
        display: none;
    }
}

img {
    width: 80%;
    margin-left: 2em;
}

div.inline h3 {
    display: inline;
}

button.journallabel {
    white-space: nowrap;
    overflow: visible;
    margin: 0 0 0 1.0em;
    padding: 5px;
}

.loaderContainer {
    display: block;
    width: 20em;
    margin: 30px auto;
    text-align: center;
}

.loaderText {
    display: none;
}

.loader {
    display: none;
    border: 4px solid #f3f3f3;
    border-radius: 50%;
    border-top: 4px solid var(--accent-color);
    width: 20px;
    height: 20px;
    margin: 10px auto;
    animation: spin 2s linear infinite;
    -webkit-animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
